/*
 * FAQs Section
 */

.faqs-section .faqs .faq {
	border-bottom: dashed 2px var(--blue-4);
}
.faqs-section .faqs .faq .title { cursor: pointer; }
.faqs-section .faqs .faq .title { cursor: pointer; }
.faqs-section .faqs .faq .summary {
	max-height: 0;
	overflow: hidden;
	transition: 1.5s;
	font-size: 0;
}
.faqs-section .faqs .faq.open .summary {
	max-height: 150vh;
}

.faqs-section .faqs .faq .summary .action .label {
	border-bottom: 1px solid var(--dark);
	margin-right: var(--space-min);
}

.faqs-section .faqs .big-link {
	cursor: pointer;
	margin-top: var(--space-50);
}
.faqs-section .faqs .big-link * {
	pointer-events: none;
}
.faqs-section .faqs .big-link:focus {
	outline: none;
}
.faqs-section .faqs .big-link span {
	display: inline-block;
	line-height: 1.625;
	border-bottom: solid 4px var(--blue-4);
}
@media( min-width: 640px )  {
	.faqs-section .faqs .faq .summary .thumbnail {
		padding-right: var(--space-min);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.faqs-section .faqs .faq .summary .action .label {
		border-bottom: 1.5px solid var(--dark);
	}
}


/* -- Brochure Sub Section -- */
.faqs-section .brochures {
	position: relative;
}
.faqs-section .brochures .brochure {
	position: relative;
	overflow: hidden;
}
.faqs-section .brochures .brochure .layer-1 {
	position: relative;
	z-index: 1;
	width: 100%;
	font-size: 0;
	line-height: 0;
	padding-top: 10%; 
	padding-bottom: 90%; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.faqs-section .brochures .brochure .layer-2 {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: var(--space-75);
}
.faqs-section .brochures .brochure .layer-3 {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: var(--space-75);
	background-color: var(--dark);
	transition: .3s ease-out;
	transform: translateX(100%);
}
.faqs-section .brochures .brochure.open .layer-3 {
	transform: translateX(0%);
}
.faqs-section .brochures .brochure .layer-3 .title {
	padding-right: var(--space-75);
}
.faqs-section .brochures .brochure .layer-3 .close {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: var(--space-75);
	right: var(--space-75);
	font-size: 0;
	line-height: 0;
	width: var(--space-50);
}
.faqs-section .brochures .brochure .layer-3 .close:focus {
	outline: none;
}
.faqs-section .brochures .brochure .layer-3 .close * { pointer-events: none; }

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.faqs-section .brochures .brochure .layer-2 {
		padding: var(--space-50);
	}
	.faqs-section .brochures .brochure .layer-3 {
		padding: var(--space-50);
	}
	.faqs-section .brochures .brochure .layer-3 .title {
		padding-right: var(--space-50);
	}
	.faqs-section .brochures .brochure .layer-3 .close {
		top: var(--space-50);
		right: var(--space-50);
		width: calc( var(--space-50) - var(--space-min) );;
	}
}
@media( min-width: 1480px ) {}
