/*
 * Webinar Section
 */

.webinar-section {
	position: relative;
}
.webinar-section .webinar-image {
	position: relative; 
	width: 100vw;
	padding-top: 1px;
	padding-bottom: 56.25%;
	background-size: cover; 
	background-position: center center;
	background-repeat: no-repeat;
}
.webinar-section .webinar-form {}

@media( min-width: 640px )  {
	.webinar-section .webinar-image {
		position: absolute;
		padding-top: 0;
		padding-bottom: 0;
		top: 0; 
		left: 0; 
		bottom: 0;
		width: 50vw;
	}
	.webinar-section .webinar-form {
		padding-left: var(--space-75);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}


/* ----- Forms ----- */
.webinar-section .forms-container {
	position: relative;
}
.webinar-section .phone-form {
	transition: opacity 0.25s 0.25s ease-in;
}
.webinar-section .otp-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s ease-in;
}
.webinar-section.show-otp-form .phone-form {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s ease-in;
}
.webinar-section.show-otp-form .otp-form {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.25s 0.25s ease-in;
}
