/*
 * FAQs Page
 */

.faq-content-section .faq-sidebar {}
/* -- Level 1 -- */
.faq-content-section .faq-sidebar ul {
	position: relative;
	list-style: none;
	margin: 0;
}
.faq-content-section .faq-sidebar ul li {
	position: relative;
	margin: 0;
}
.faq-content-section .faq-sidebar ul li a {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 66.66666%;
	padding: var(--space-min);
	padding-left: calc(var(--space-min)*3);
	font-weight: 700;
	font-size: 1.6rem;
	transition: .3s ease-out; 
	line-height: 1;
}

.faq-content-section .faq-sidebar ul li.active > a,
.faq-content-section .faq-sidebar ul li a:hover {
	background-color: var(--neutral-1);
}

/* -- Level 2 -- */
/*.faq-content-section .faq-sidebar ul li > ul li {} */
.faq-content-section .faq-sidebar ul li > ul li a { 
	margin-left: 16.66666%;
	font-weight: 400; 
	font-size: 1.1rem; 
	line-height: 1.5;
}

/* -- Level 3 -- */
/*.faq-content-section .faq-sidebar ul li > ul li > ul li {}*/
.faq-content-section .faq-sidebar ul li > ul li > ul li a {
	margin-left: 33.33333%;
	font-size: 1.1rem;
}

/* -- Toggle -- */
.faq-content-section .faq-sidebar ul li:not(.show-hierarchy) a + ul {
	display: none;
}

.faq-content-section .faq-sidebar ul li a + .hierarchy-toggle {
	display: none;
}
.faq-content-section .faq-sidebar ul li a + ul + .hierarchy-toggle {
	position: absolute;
	z-index: 2;
	top: calc(8px - (var(--space-min)/2));
	left: 0;
	padding: 0;
	line-height: calc(var(--space-min)*3);
	width: calc(var(--space-min)*3);
	height: calc(var(--space-min)*3);
	cursor: pointer;
	background-color: transparent;
}
.faq-content-section .faq-sidebar ul li > ul li a + ul + .hierarchy-toggle {
	left: 16.66666%;
}
.faq-content-section .faq-sidebar ul li > ul li > ul li a + ul + .hierarchy-toggle {
	left: 33.33333%;
}

.faq-content-section .faq-sidebar ul li a + ul + .hierarchy-toggle {
	transition: .3s ease-out;
}
.faq-content-section .faq-sidebar ul li.show-hierarchy > a + ul + .hierarchy-toggle {
	transform: rotate(90deg);
}


@media( min-width: 640px )  {
	/* -- Level 1 -- */
	.faq-content-section .faq-sidebar ul li a { font-size: 1.8rem; }
	/* -- Level 2 -- */
	.faq-content-section .faq-sidebar ul li > ul li a { font-size: 1.1rem; }
	/* -- Level 3 -- */
	.faq-content-section .faq-sidebar ul li > ul li > ul li a { font-size: 1.1rem; }
}

@media( min-width: 1040px ) {
	/* -- Level 1 -- */
	.faq-content-section .faq-sidebar ul li a { font-size: 2.0rem; }
	/* -- Level 2 -- */
	.faq-content-section .faq-sidebar ul li > ul li a { font-size: 1.3rem; }
	/* -- Level 3 -- */
	.faq-content-section .faq-sidebar ul li > ul li > ul li a { font-size: 1.3rem; }
	/* -- Toggle -- */
	.faq-content-section .faq-sidebar ul li a + ul + .hierarchy-toggle {
		top: calc(10px - (var(--space-min)/2));
	}
}

@media( min-width: 1480px ) {
	/* -- Level 1 -- */
	.faq-content-section .faq-sidebar ul li a { font-size: 2.4rem;  }
	/* -- Level 2 -- */
	.faq-content-section .faq-sidebar ul li > ul li a { font-size: 1.5rem; }
	/* -- Level 3 -- */
	.faq-content-section .faq-sidebar ul li > ul li > ul li a { font-size: 1.5rem; }
	/* -- Toggle -- */
	.faq-content-section .faq-sidebar ul li a + ul + .hierarchy-toggle {
		top: calc(13px - (var(--space-min)/2));
	}
}
