/*
/*
 * Placeholder Home Page
 */

/* -- Landing Section -- */
.landing-section {}
.landing-section .intro {}
.landing-section .intro .logo {
	width: 100px;
}
.landing-section .intro .title .thing {
	margin-left: -4px;
}
.landing-section .intro .info .thing {
	margin-left: -3px;
}
.landing-section .intro .gmaps {
	line-height: 1;
}
.landing-section .intro .gmaps .icon {
	width: 38px;
	margin-right: var(--space-min);
}


.landing-section .action {
	position: relative;
}
.landing-section .action .background-gradient {
	position: absolute;
	z-index: 1;
	display: block;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100vw;
	transform: translateX(-50%);
	background-color: var(--blue-2);
	background-image: linear-gradient(0deg, var(--blue-4) 0%, var(--blue-2) 100%);;
}
.landing-section .action .layer-1 {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.landing-section .action .layer-1 .char {
	width: 300px;
}
.landing-section .action .layer-2 {
	position: relative;
	z-index: 3;
}
.landing-section .action .layer-2 .title span {
	padding-bottom: calc(var(--space-min)/2);
	border-bottom: solid 3px var(--light);
}

.landing-section .action .layer-2 .phone-link {
	font-size: 0;
	border-radius: calc(var(--space-min)/3);
	height: var(--space-75);
	line-height: var(--space-75);
	margin-top: 250px;
	transform-origin: left bottom;
	transform: scale(1.2);
}
.landing-section .action .layer-2 .phone-link span {
	padding-left: calc(var(--space-min)/1.5);
}
.landing-section .action .layer-2 .phone-link span:first-child {
	padding-left: 0;
}

@media( min-width: 640px )  {
	.landing-section .intro .gmaps .icon {
		width: 40px;
	}
}
@media( min-width: 1040px ) {
	.landing-section .intro .gmaps .icon {
		width: 44px;
	}
	.landing-section .action {
		height: 800px;
	}
	.landing-section .action .background-gradient {
		left: 0%;
		width: calc( 100% + (100vw - var(--container-width))/2 );
		transform: translateX(0);
	}
	.landing-section .action .layer-1 .char {
		padding-left: var(--space-100);
	}
	.landing-section .action .layer-1 .char {
		width: 100%;
	}
	.landing-section .action .layer-2 {
		position: absolute;
		bottom: var(--space-75);
		padding-left: var(--space-100);
		margin-bottom: var(--space-min);
	}
	.landing-section .action .layer-2 .phone-link {
		height: var(--space-50);
		line-height: var(--space-50);
		margin-top: 330px;
	}
}
@media( min-width: 1480px ) {
	.landing-section .intro .logo {
		width: 120px;
	}
	.landing-section .intro .gmaps .icon {
		width: 50px;
	}
	.landing-section .action {
		height: 1020px;
	}
	.landing-section .action .layer-2 .phone-link {
		margin-top: 400px;
	}

}





/* -- Footer Section -- */

.footer-section {}
.footer-section .about .logo {
	width: 80px;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.footer-section .about .logo {
		width: 100px;
	}
}



/* -- Info Link Modal -- */

.info-link-modal {}
.info-link-modal .title .thing {
	margin-left: -3px;
}

