/*
 * Poster Website
 */

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}



/* -- Intro -- */
.intro-section .intro .logo {
	width: 160px;
}
@media( min-width: 640px )  {
	.intro-section .intro .logo {
		width: 180px;
	}
}
@media( min-width: 1040px ) {
	.intro-section .intro .logo {
		width: 260px;
		padding-bottom: var(--space-75);
	}
}
@media( min-width: 1480px ) {
	.intro-section .intro .logo {
		width: 320px;
	}
	.intro-section .intro .description {
		line-height: 1.5;
	}
}



/* -- Action -- */
.action-section .action .heading img {
	width: 52px;
    margin-top: 6px;
    margin-right: 16px;
}

.action-section .action .char-image {
	position: relative;
}
.action-section .action .char-image:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 100%;
	bottom: 0;
	width: 100vw;
	background-position: bottom left;
	background-image: url('../../media/char-1-trail.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
}

@media( min-width: 640px )  {
	.action-section .action .heading img {
		width: 56px;
	}
}
@media( min-width: 1040px ) {
	.action-section .action .heading img {
		width: 72px;
		margin-top: 10px;
		margin-right: 24px;
	}
}
@media( min-width: 1480px ) {
	.action-section .action .heading {
		padding-right: var(--space-50);
	}
	.action-section .action .heading img {
		width: 80px;
		margin-top: 12px;
		margin-right: 26px;
	}
}



/* -- How Section -- */
.how-section .how .table .table-head {
	display: flex;
	cursor: pointer;
}

.how-section .how .table .table-row {
	display: table-row;
}

.how-section .how .table .table-cell {
	display: table-cell;
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.25);
}

.how-section .how .table .table-row .table-cell {
	padding-left: calc( var(--space-50) + 5px );
	text-indent: calc( ( var(--space-50) * -1 ) - 5px );
}

.how-section .how .table .table-cell .num {
	display: inline-block;
	width: var(--space-50);
	margin-right: 5px;
	border-radius: 50%;
	text-align: right;
	padding: 0 5px;
}

.how-section .how .table .table-foot {
	display: flex;
	cursor: pointer;
}

@media( min-width: 640px )  {
	.how-section .how .table .table-row .table-cell {
		clear: both;
		padding-left: var(--space-75);
		text-indent: 0;
	}
	.how-section .how .table .table-cell .num {
		float: left;
		height: var(--space-50);
		line-height: var(--space-50);
		text-align: center;
		margin-top: -3px;
		margin-left: calc( (var(--space-50) * -1) - 5px );
		background-color: rgba(255,255,255,0.25);
	}
}
@media( min-width: 1040px ) {
	.how-section .how .table .table-cell .num {
		margin-top: -5px;
		width: calc( var(--space-50) * .75);
		height: calc( var(--space-50) * .75);
		line-height: calc( var(--space-50) * .75);
	}
}
@media( min-width: 1480px ) {
	.how-section .how .table .table-cell {
		display: table-cell;
		box-shadow: inset 0px 0px 0px 1.5px rgba(255,255,255,0.25);
	}
	.how-section .how .table .table-cell .num {
			margin-top: -11px;
	}
}



/* -- About -- */
.about-section .about .logo {
	width: 160px;
}
@media( min-width: 640px )  {
	.about-section .about .logo {
		width: 180px;
	}
}
@media( min-width: 1040px ) {
	.about-section .about .logo {
		width: 200px;
	}
}
@media( min-width: 1480px ) {
	.about-section .about .logo {
		width: 240px;
	}
}